html, body{
    background-color: #121212;
    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    font-family: poppins,'sans-serif';
    font-size: 100%;
}
a{
    color: white;
    text-decoration: none;
}
.logo{
    width: 9%;
}

.container {
    height: 100%; /* 50% of the parent (body) height */
    width: 100%;
}
.top{
    display: flex;
    height: 50%;
    width: 50%;
    /* background-color: white; */
}

.first{
    height: 30%;
    width: 45%;
    margin-left: 20%;
    margin-top: -10%;
    background-color: #252525;
}

.it {
    margin-top: 15px;
    margin-left: 10px;
}

.second{
    height: 30%;
    width: 45%;
    /* margin-left: 20%; */
    margin-top: 10%;
    background-color: #252525;
}

.third{
    height: 15%;
    width: 21%;
    background-color: #252525;
    position: absolute;
    left: 55%;
    top: 27%;
}

.bottom{
    display: flex;
    height: 30%;
    width: 50%;
    /* background-color: white;  */
}

.uexams{
    position: absolute;
    top: 45%;
    left: 2%;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.uexams p{
    color: #AE1314;
    margin-top: 9%;
    font-weight: bolder;
}

.footer{
    background-color: #AE1314;
    height: 10%;
    color: black;
    width: 100%;
    position: absolute;
    top: 95%;
    text-align: center;
}

.barrier{
    height: 50%;
    width: 0.2%;
    position: absolute;
    left: 53%;
    top: 50%;
    background-color: #AE1314;
}

.bottom h3{
    margin-left: 4px;
}
.first2{
    height: 20%;
    width: 10%;
    left: 5%;
    top: 60%;
    position: absolute;
    background-color: #252525;
}

.second2{
    height: 20%;
    width: 10%;
    left: 20%;
    top: 60%;
    position: absolute;
    background-color: #252525;
}

.third2{
    height: 20%;
    width: 10%;
    left: 35%;
    top: 60%;
    position: absolute;
    background-color: #252525;
}

.ll{
    margin-top: -20px;
    margin-left: 5px;
}

.tt{
    margin-top: -15px;
    margin-left: 5px;
}

.time{
    position: absolute;
    top: 45%;
    left: 55%;
}

.labels{
    display: flex;
    position: absolute;
    top: 60%;
    left: 60%;
    justify-content: space-between;
    gap: 50px;
}
.label{
    display: flex;
    position: absolute;
    top: 65%;
    left: 60%;
    justify-content: space-between;
    gap: 45px;
}
.label1{
    display: flex;
    position: absolute;
    top: 70%;
    left: 60%;
    justify-content: space-between;
    gap: 52px;
}

.topp{
    height: 50%;
    width: 100%;
}

.beg{
    position: absolute;
    height: 20%;
    width: 80%;
}

.end{
    position: absolute;
    height: 20%;
    width: 80%;
    left: 30%;
}

.inpt{
    height: 15%;
    width: 20%;
}
@media only screen and (max-width: 500px)  {
   html, body{
    font-size: 90%;
   }
   .logo{
    width: 15%;
   }
   .first{
height: 13%;
    width: 40%;
    position: absolute;
    top: 16%;
    left: -15%;
   }
   .second{
    position: absolute;
    top: 3%;
    height: 13%;
    width: 40%;
    left: 55%;
   }
   .third{
    position: absolute;
    top: 24%;
    left: 5%;
    height: 13%;
    width: 40%;
   }
   .bottom{
    display: flex;
    height: 30%;
    width: 50%;
    /* background-color: white;  */
}

.uexams{
    position: absolute;
    top: 40%;
    left: 10%;
}
.first2{
    height: 15%;
    width: 25%;
    left: 20%;
    top: 47%;
    position: absolute;    
    background-color: #252525;
}

.second2{
    height: 15%;
width: 25%;
    left: 40%;
    top: 47%;
    position: absolute;
    
    background-color: #252525;
}

.third2{
    height: 15%;
    width: 25%;
    left: 60%;
    top: 47%;
    position: absolute;
    background-color: #252525;
}
.ll{
    margin-top: -10px;
    margin-left: 5px;
}

.tt{
    margin-top: -5px;
    margin-left: 5px;
}
.barrier{
    height: 0%;
    width: 0.2%;
    position: absolute;
    left: 53%;
    top: 50%;
    background-color: #AE1314;
}

.time{
    position: absolute;
    top: 60%;
    left: 10%;
}

.labels{
    display: flex;
    position: absolute;
    top: 70%;
    left: 20%;
    justify-content: space-between;
    gap: 50px;
}
.label{
    display: flex;
    position: absolute;
    top: 65%;
    left: 20%;
    justify-content: space-between;
    gap: 45px;
}
.label1{
    display: flex;
    position: absolute;
    top: 75%;
    left: 20%;
    justify-content: space-between;
    gap: 52px;
}
}