section{		
	display: grid;
	grid-template-areas: "form max_stud_paragraph";		
	grid-gap: 0em;
	align-items:center;
	justify-content:center;																		
}


.login_form_card,
.max_stud_paragraph{
	padding: .5em;
	width: 30em;
	height: 23em;
}

.login_form_card
{
	display: flex;
	flex-direction: column;
}

.login_prompt{
	justify-self: center;
}
form{
	grid-area: form;
	display: grid;
	grid-template-areas: 
	"username_l ."
	"username_i username_i"
	"password_l ."
	"password_i password_i"
	"submit ."
	"a ."
	;
	align-items:center;
	text-align: left;
	grid-gap: .3em;
	font-size: 1.5rem;
}


#username_l{
	grid-area: username_l;
}

#user_name{
	grid-area: username_i;
}

#password_l{
	grid-area: password_l;
}

#password{
	grid-area: password_i;
}

form button{
	grid-area: submit;
	color: #fff;
	background-color: #AE1314;
	margin: .5em 0em;
	justify-self: start;
}

form a{
	grid-area: a;
	font-size: 1rem;
}

#login_form a{
	grid-area: a;
	color: #AE1314;
}

.max_stud_paragraph{
	grid-area: max_stud_paragraph;
	background-color: #AE1314;
}

.logo{
	display: flex;
	align-items: center;
}

@media screen and (max-width: 700px){
	section{
		grid-template-areas: "max_stud_paragraph" "form";
	}

.login_form_card,
.max_stud_paragraph{
	width: 20em;
}

footer{
	position: sticky;
	bottom: 0px;
}
}